In [1]:
#from sandbox import schools_dict_complete
from selenium import webdriver
import csv
import scrapy
import time
import pandas as pd

In [71]:
testDriver = webdriver.Firefox()
testDriver.get('https://projects.jsonline.com/news/2018/10/5/student-turnover-in-wisconsin-schools.html')

In [3]:
schools = testDriver.find_elements_by_class_name("school")

In [2]:
#from sandbox import schools_dict_complete

In [72]:
districts = testDriver.find_elements_by_class_name("filters")[0].find_element_by_xpath("//select")

In [22]:
districts = districts.text.split('\n')[1:]

In [59]:
from selenium.webdriver.support.ui import Select
from selenium.webdriver import ActionChains
#Select(districts).all_selected_options

In [ ]:
#works
schools_dict = {}
count = 0
for i,s in enumerate(Select(districts).options):
    if i:
        s.click()
        schools = testDriver.find_elements_by_class_name("school")
        for i,school in enumerate(schools):
            #print(school.text)
            schools = testDriver.find_elements_by_class_name("school")
            s_n_d_name = school.find_elements_by_class_name("cell")[0].text.split('\n')
            s_name = s_n_d_name[1]
            #print(s_name)
            dist_name = s_n_d_name[0]
            cat = school.find_elements_by_class_name("cell")[1].text
            s_type = school.find_elements_by_class_name("cell")[2].text
            enroll = school.find_elements_by_class_name("cell")[3].text
            accountability = school.find_elements_by_class_name("cell")[4].text
            turnover_rate = school.find_elements_by_class_name("cell")[5].text

            schools_dict[i+count] = {}
            for col,dat in [['name',s_name],['district',dist_name],['category',cat],\
                        ['type',s_type], ['enrollment',enroll], ['accountability',accountability],\
                        ['turnover_rate',turnover_rate]]:
                schools_dict[i+count][col]=dat
        time.sleep(.5)
        testDriver.find_elements_by_class_name('filter-tag')[0].click()
        count = count+i

In [81]:
#action_chains = ActionChains(testDriver)
#action_chains.drag_and_drop(element, Select(districts).options[1].text).perform()

schools_df = pd.DataFrame.from_dict(schools_dict)

In [84]:
schools_df.T.to_csv('js_school_info.csv')

In [2]:
schools_df = pd.read_csv('js_school_info.csv')

In [6]:
schools_df.head()

,Unnamed: 0,accountability,category,district,enrollment,name,turnover_rate,type
0,0,76,Elementary SchoolK4–5,Abbotsford,377,Abbotsford Elementary,6.3%,NaN
1,1,64,Elementary SchoolK4–5,Adams-Friendship Area,438,Adams-Friendship Elementary,16.0%,NaN
2,2,53,High School9–12,Adams-Friendship Area,488,Adams-Friendship High,10.4%,NaN
3,3,52,Middle School6–8,Adams-Friendship Area,233,Adams-Friendship Middle,9.0%,NaN
4,4,70,Elementary SchoolK4–5,Adams-Friendship Area,160,Grand Marsh Elementary,25.5%,NaN

In [4]:
mmac_df = pd.read_csv('mmac-export-1541607003131.csv')

In [13]:
mmac_df.shape

(388, 36)

In [11]:
mmac_df.columns

Index(['id', 'School_Name', 'Ship_Address_Line_1', 'Ship_Address_Line_2',
       'locality', 'Mail_Zip', 'Overall_Accountability_Rating',
       'Overall_Accountability_Score', 'School_Enrollment', 'SchoolLevel',
       'SWD', 'ED', 'LEP', 'Lowest_Grade_in_the_School',
       'Highest_Grade_in_the_School', 'School_Student_Achievement_Score',
       'School_ELA_Achievement_Score', 'School_Mathematics_Achievement_Score',
       'School_Student_Growth_Score', 'School_ELA_Growth_Score',
       'School_Mathematics_Growth_Score', 'School_Closing_Gaps_Score',
       'School_ELA_Gap_Score', 'School_Mathematics_Gap_Score',
       'School_Graduation_Gap_Score',
       'School_On-Track_and_Postsecondary_Readiness_Score',
       'School_Graduation_Rate_Score', 'School_Attendance_Rate_Score',
       'School_Third-Grade_ELA_Achievement_Score',
       'School_Eighth-Grade_Mathematics_Achievement_Score', 'Agency_type',
       'Charter_school_indicator', 'Charter_Type', 'District_or_Authorizer',
       'Enrollment_type', 'Enrollment_detail'],
      dtype='object')

In [6]:
schools_df.shape

(1455, 8)

In [ ]:
mmac

In [32]:
mmac_joined_df = mmac_df.merge(schools_df, how='inner', left_on=['School_Name','locality'], right_on = ['name','district'] )
mmac_joined_df.shape

(69, 44)

In [34]:
mmac_joined_df.drop(columns=['Unnamed: 0'],inplace=True)

In [37]:
print(mmac_joined_df.columns)
mmac_joined_df[['School_Name','name','district','locality']]

Index(['id', 'School_Name', 'Ship_Address_Line_1', 'Ship_Address_Line_2',
       'locality', 'Mail_Zip', 'Overall_Accountability_Rating',
       'Overall_Accountability_Score', 'School_Enrollment', 'SchoolLevel',
       'SWD', 'ED', 'LEP', 'Lowest_Grade_in_the_School',
       'Highest_Grade_in_the_School', 'School_Student_Achievement_Score',
       'School_ELA_Achievement_Score', 'School_Mathematics_Achievement_Score',
       'School_Student_Growth_Score', 'School_ELA_Growth_Score',
       'School_Mathematics_Growth_Score', 'School_Closing_Gaps_Score',
       'School_ELA_Gap_Score', 'School_Mathematics_Gap_Score',
       'School_Graduation_Gap_Score',
       'School_On-Track_and_Postsecondary_Readiness_Score',
       'School_Graduation_Rate_Score', 'School_Attendance_Rate_Score',
       'School_Third-Grade_ELA_Achievement_Score',
       'School_Eighth-Grade_Mathematics_Achievement_Score', 'Agency_type',
       'Charter_school_indicator', 'Charter_Type', 'District_or_Authorizer',
       'Enrollment_type', 'Enrollment_detail', 'accountability', 'category',
       'district', 'enrollment', 'name', 'turnover_rate', 'type'],
      dtype='object')

,School_Name,name,district,locality
0,Academy of Accelerated Learning,Academy of Accelerated Learning,Milwaukee,Milwaukee
1,ALBA - Academia de Lenguaje y Bellas Artes,ALBA - Academia de Lenguaje y Bellas Artes,Milwaukee,Milwaukee
2,Alcott Elementary,Alcott Elementary,Milwaukee,Milwaukee
3,Allen-Field Elementary,Allen-Field Elementary,Milwaukee,Milwaukee
4,Alliance School of Milwaukee,Alliance School of Milwaukee,Milwaukee,Milwaukee
5,ASSATA High,ASSATA High,Milwaukee,Milwaukee
6,Atwater Elementary,Atwater Elementary,Shorewood,Shorewood
7,Audubon Technology and Communication High School,Audubon Technology and Communication High School,Milwaukee,Milwaukee
8,Audubon Technology and Communication Middle Sc...,Audubon Technology and Communication Middle Sc...,Milwaukee,Milwaukee
9,Auer Avenue Elementary,Auer Avenue Elementary,Milwaukee,Milwaukee
10,Banner Preparatory School of Milwaukee,Banner Preparatory School of Milwaukee,Milwaukee,Milwaukee
11,Barbee Elementary,Barbee Elementary,Milwaukee,Milwaukee
12,Barton Elementary,Barton Elementary,Milwaukee,Milwaukee
13,Bay View High,Bay View High,Milwaukee,Milwaukee
14,Bethune Academy,Bethune Academy,Milwaukee,Milwaukee
15,Blakewood Elementary,Blakewood Elementary,South Milwaukee,South Milwaukee
16,Bradley Technology High,Bradley Technology High,Milwaukee,Milwaukee
17,Brown Deer Elementary,Brown Deer Elementary,Brown Deer,Brown Deer
18,Brown Street Academy,Brown Street Academy,Milwaukee,Milwaukee
19,Browning Elementary,Browning Elementary,Milwaukee,Milwaukee
20,Bruce Elementary,Bruce Elementary,Milwaukee,Milwaukee
21,Bryant Elementary,Bryant Elementary,Milwaukee,Milwaukee
22,Burbank Elementary,Burbank Elementary,Milwaukee,Milwaukee
23,Burdick Elementary,Burdick Elementary,Milwaukee,Milwaukee
24,Business and Economics Academy of Milwaukee,Business and Economics Academy of Milwaukee,Milwaukee,Milwaukee
25,Canterbury Elementary,Canterbury Elementary,Greendale,Greendale
26,Carmen High School of Science and Technology S...,Carmen High School of Science and Technology S...,Milwaukee,Milwaukee
27,Carmen High School of Science and Technology S...,Carmen High School of Science and Technology S...,Milwaukee,Milwaukee
28,College Park Elementary,College Park Elementary,Greendale,Greendale
29,Cudahy High,Cudahy High,Cudahy,Cudahy
...,...,...,...,...
39,Greendale Middle,Greendale Middle,Greendale,Greendale
40,Greenfield High,Greenfield High,Greenfield,Greenfield
41,Greenfield Middle,Greenfield Middle,Greenfield,Greenfield
42,Jefferson Elementary,Jefferson Elementary,Wauwatosa,Wauwatosa
43,Jones Elementary,Jones Elementary,Cudahy,Cudahy
44,Kosciuszko Elementary,Kosciuszko Elementary,Cudahy,Cudahy
45,Lake Bluff Elementary,Lake Bluff Elementary,Shorewood,Shorewood
46,Lakeview Elementary,Lakeview Elementary,South Milwaukee,South Milwaukee
47,Lincoln Elementary,Lincoln Elementary,Wauwatosa,Wauwatosa
48,Lincoln Elementary,Lincoln Elementary,Cudahy,Cudahy
49,Longfellow Middle,Longfellow Middle,Wauwatosa,Wauwatosa
50,Luther Elementary,Luther Elementary,South Milwaukee,South Milwaukee
51,Madison Elementary,Madison Elementary,Wauwatosa,Wauwatosa
52,McKinley Elementary,McKinley Elementary,Wauwatosa,Wauwatosa
53,Mitchell Elementary,Mitchell Elementary,Cudahy,Cudahy
54,New Horizons for Learning,New Horizons for Learning,Shorewood,Shorewood
55,Rawson Elementary,Rawson Elementary,South Milwaukee,South Milwaukee
56,Richards Elementary,Richards Elementary,Whitefish Bay,Whitefish Bay
57,Roosevelt Elementary,Roosevelt Elementary,Wauwatosa,Wauwatosa
58,Saint Francis High,Saint Francis High,Saint Francis,Saint Francis
59,Shorewood High,Shorewood High,Shorewood,Shorewood
60,South Milwaukee High,South Milwaukee High,South Milwaukee,South Milwaukee
61,Underwood Elementary,Underwood Elementary,Wauwatosa,Wauwatosa
62,Washington Elementary,Washington Elementary,Wauwatosa,Wauwatosa
63,Wauwatosa Montessori School,Wauwatosa Montessori School,Wauwatosa,Wauwatosa
64,Wauwatosa STEM,Wauwatosa STEM,Wauwatosa,Wauwatosa
65,Wauwatosa Virtual Academy,Wauwatosa Virtual Academy,Wauwatosa,Wauwatosa
66,West High,West High,Wauwatosa,Wauwatosa
67,Whitefish Bay High,Whitefish Bay High,Whitefish Bay,Whitefish Bay
68,Whitman Middle,Whitman Middle,Wauwatosa,Wauwatosa

In [31]:
schools_df.name[schools_df.name.str.contains('Hope')]

Series([], Name: name, dtype: object)