In [2]:
#from sandbox import schools_dict_complete
from selenium import webdriver
import csv
import scrapy
import time
import pandas as pd

In [71]:
testDriver = webdriver.Firefox()
testDriver.get('https://projects.jsonline.com/news/2018/10/5/student-turnover-in-wisconsin-schools.html')

In [3]:
schools = testDriver.find_elements_by_class_name("school")

In [2]:
#from sandbox import schools_dict_complete

In [72]:
districts = testDriver.find_elements_by_class_name("filters")[0].find_element_by_xpath("//select")

In [22]:
districts = districts.text.split('\n')[1:]

In [59]:
from selenium.webdriver.support.ui import Select
from selenium.webdriver import ActionChains
#Select(districts).all_selected_options

In [ ]:
#works
schools_dict = {}
count = 0
for i,s in enumerate(Select(districts).options):
    if i:
        s.click()
        schools = testDriver.find_elements_by_class_name("school")
        for i,school in enumerate(schools):
            #print(school.text)
            schools = testDriver.find_elements_by_class_name("school")
            s_n_d_name = school.find_elements_by_class_name("cell")[0].text.split('\n')
            s_name = s_n_d_name[1]
            #print(s_name)
            dist_name = s_n_d_name[0]
            cat = school.find_elements_by_class_name("cell")[1].text
            s_type = school.find_elements_by_class_name("cell")[2].text
            enroll = school.find_elements_by_class_name("cell")[3].text
            accountability = school.find_elements_by_class_name("cell")[4].text
            turnover_rate = school.find_elements_by_class_name("cell")[5].text

            schools_dict[i+count] = {}
            for col,dat in [['name',s_name],['district',dist_name],['category',cat],\
                        ['type',s_type], ['enrollment',enroll], ['accountability',accountability],\
                        ['turnover_rate',turnover_rate]]:
                schools_dict[i+count][col]=dat
        time.sleep(.5)
        testDriver.find_elements_by_class_name('filter-tag')[0].click()
        count = count+i

In [81]:
#action_chains = ActionChains(testDriver)
#action_chains.drag_and_drop(element, Select(districts).options[1].text).perform()

schools_df = pd.DataFrame.from_dict(schools_dict)

In [84]:
schools_df.T.to_csv('js_school_info.csv')

In [3]:
schools_df = pd.read_csv('js_school_info.csv')

In [6]:
schools_df.head()

,Unnamed: 0,accountability,category,district,enrollment,name,turnover_rate,type
0,0,76,Elementary SchoolK4–5,Abbotsford,377,Abbotsford Elementary,6.3%,NaN
1,1,64,Elementary SchoolK4–5,Adams-Friendship Area,438,Adams-Friendship Elementary,16.0%,NaN
2,2,53,High School9–12,Adams-Friendship Area,488,Adams-Friendship High,10.4%,NaN
3,3,52,Middle School6–8,Adams-Friendship Area,233,Adams-Friendship Middle,9.0%,NaN
4,4,70,Elementary SchoolK4–5,Adams-Friendship Area,160,Grand Marsh Elementary,25.5%,NaN